@charset "utf-8";
/* CSS Document */

.bordercheck{ border: 1px solid #000; }
.mb30{ margin-bottom: 30px; }

h1.page_header{
	font-family:fsalbertregular, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: normal;
	color: #034ea2;
	border-bottom:1px solid #a4a4a4;
	padding-bottom:15px; 
}

.trackreqwrap div.track.contact{
	width: 32.5%;
	height: 100%; 
	float: right;
	padding: 0; 
	background:url(../images/contact/header-bg.png) repeat 0 0; 
}

.trackreqwrap div.track.contact .timing{
	width: 100%;
	height: 100%;
	padding: 18% 10% 11% 10%;
	background:url(../images/contact/clock.jpg) no-repeat center 20px;
	font-family: 'fsalbertregular', Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center; 
}
.trackreqwrap div.track.contact .timing h2{
	color: #000000; 
}
.working_days{
	color: #d31016; 
}

#contact{
	width: 100%;
	margin: 35px 0; 
}

#contact ul.contact-ways{
	border: 1px solid #e6e6e6;
	border-left: none;
	border-right: none;
	width: 100%;
	height: auto;
	max-height: auto;
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}

#contact ul.contact-ways li{
	width: 33.33%;
	padding: 3%; /*5%*/
	position: relative;
	float: left;
	border-left: 1px solid #e6e6e6;
	height: 195px; /*auto*/
}
#contact ul.contact-ways li:first-child{
	border-left: none;
}
i{
	display: block;
	position: relative;
	float: left;
	margin: 0;
	padding: 0; 
	position: relative;
	width: 54px;
	height: 54px;
	background:url(../images/contact/ico.png) no-repeat; 
}

.call{ background-position: 0 0; }
.mail{ background-position: 0 -54px; }
.write{ background-position: 0 -108px; }

.contact-info{
	position: relative;
	float: left;
	margin-left: 3%;
}
.contact-info h2{
	font: normal normal normal 1.3em/1em 'fsalbertregular', Arial, Helvetica, sans-serif;
	padding-bottom: 10px 
}
.contact-info p{
	font: normal normal normal 1em/1em 'fsalbertregular', Arial, Helvetica, sans-serif;
	padding-bottom: 3px 
}
.contact-info a{
	color: #000000;
	text-decoration: underline; 
}
.contact-info a:hover{
	text-decoration: none;
}
.contact-info h2 span.red{
	color: #d30e15;
}



@media screen and (max-width : 1000px) {
	
	.trackreqwrap div.track.contact{
		width: 100%;
	}
	
	.trackreqwrap div.track.contact .timing h2{
		padding-bottom: 5px;
	}
	
	.trackreqwrap div.track.contact .timing{
		width: 100%;
		height: 100%;
		padding: 55px 2% 2% 2%;
		background:url(../images/contact/clock.jpg) no-repeat center 15px;
		color: #000000;
		text-align: center; 
	}
	
	#contact ul.contact-ways{
		border: none;
	}
	
	#contact ul.contact-ways li{
		width: 100%;
		padding: 3%; /*5%*/
		position: relative;
		float: none;
		border-top: 1px solid #e6e6e6;
		height: auto; /*auto*/
	}
	#contact ul.contact-ways li:first-child{ 
		border-top: none; 
	}
	
}

@media screen and (min-width : 1000px) and (max-width : 1150px){
 #contact ul.contact-ways li{ 
	padding: 3% 1%;
 }
}

@media screen and (min-width : 1000px) and (max-width : 1010px){
 #contact ul.contact-ways li{ 
	padding: 3% .5%;
 }
}


@media screen and (min-width : 280px) and (max-width : 360px) {
	#contact ul.contact-ways li{ 
	padding: 3% .4%;
 } 
}


















