@charset "utf-8";
/* CSS Document */

.bordercheck{ border: 1px solid #000; }
.mb30{ margin-bottom: 30px; }
.acc-content.mb20{ margin-bottom: 20px; }
.on{ display: block; }
.off{ display: none; }
p.or{ text-align: center; }

h1.page_header{
	font-family:fsalbertregular, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: normal;
	color: #034ea2;
	border-bottom:1px solid #a4a4a4;
	padding-bottom:15px; 
}

#faq{
	width: 100%; 
	height: auto;
	background-color: #ffffff;
	margin: 10px 0;
	font: normal normal normal 1.1em/1.3em fsalbertlight, Arial, Helvetica, sans-serif;
}

.accordion, .accordion-inner {
	margin: 0; 
	height: auto; 
	background: #ffffff; 
	text-decoration: none; 
	color: #000;
}

#faq hr{
	position: relative; 
	width: 96.5%;
	margin-left: 3.5%;
	padding: 0; 
	border-bottom: 1px solid #e8e8e8; 
}
	
.accordion-inner {   
	background: #eaeaea;
	margin: .25% 0;   
}

.accordion-inner:first-child {   
	background: #eaeaea;
	margin: 0 0 .25%;    
}   

div.acc-content{
	width: 96.5%;
	margin-left: 3.5%;
	margin-bottom: 0;
	background-color: #f9f9f9;
} 
.acc-inner-content{
	width: 100%; 
	background-color: #f9f9f9;
	padding: 1% 4% .25%;
}
.acc-inner-content p{
	padding-bottom: 1%;
} 
.acc-inner-content ul{
	list-style-type: disc;
	padding: 0;
	width: 96%;
	margin: 0 0 1% 4%;
}  

ul.decimal{ 
	list-style-type: decimal;
	margin: 0 0 1% 4%;
}

.acc-inner-content ul li{ 
	color: #343434;
	padding: 3px 0; 
} 


 

.accordion h3, .accordion-inner h3{
	color: #d30e16;
	padding: 1em;
	padding-left: 0; 
	cursor: pointer;
	background: url(../images/red_bullet.png)no-repeat 18px 25px;
}
.accordion-inner h3{ 
	color: #000000;
	/*padding: 0 1em 0 40px;*/
	background-color: #eaeaea;
}

.accordion h3 i{
	width: 24px;
	height: 24px; 
	position: relative;
	display: block;
	float: left;
	margin-right: 1em; 
	background:none;
}
/*.accordion-inner h3{
	display: inline-block;  
	margin-left: 1em; 
}*/

.accordion-open h3 i{ 
	background:url(../images/faq/question_arrows.jpg) no-repeat 0 -24px #ffffff;	 
}
.accordion-close h3 i{
	background:url(../images/faq/question_arrows.jpg) no-repeat 0 0 #ffffff;	 
}

.accordion-inner h3{ 
	background:url(../images/faq/sub-question_arrows.jpg) no-repeat 1% 0;	 
} 
.accordion-inner.active h3{ 
	background:url(../images/faq/sub-question_arrows.jpg) no-repeat 1% -110px;	 
} 


@media screen and (max-width : 800px) {
	.accordion-inner h3{  
		padding: .5em 1em .5em 35px; 
	} /**/
	
	.acc-inner-content{
		width: 100%; 
		background-color: #f9f9f9;
		padding: 1% 4% .25% 10%;
	}
	
	ul.decimal{ 
		list-style-type: decimal;
		margin: 0 0 1% 10%;
	}
	
	.accordion-inner h3{ 
		background:url(../images/faq/sub-question_arrows.jpg) no-repeat 5px 0;	 
	} 
	.accordion-inner.active h3{ 
		background:url(../images/faq/sub-question_arrows.jpg) no-repeat 5px -110px;	 
	}
	
}


















