@charset "utf-8";
/* CSS Document */

.bordercheck{ border: 1px solid #000; }

#feedBack_section{
	position: relative;
	font-family: 'fsalbertregular', Arial, Helvetica, sans-serif;
}

#feedBack_section .relatedTo{
	display: block;
	position: relative;
	width: 49.16%; 
}
.tabProduct{ float: left; }
.tabProgram{ float: right; }

#feedBack_section h1{
	text-align: center;
	font: normal normal normal 1.5em/2em 'fsalbertregular', Arial, Helvetica, sans-serif;
}
h1.product{ color: #014ea0; }
h1.program{ color: #d40c16; }

.choose{ 
	text-align: center; 
	padding: 3% 4%; 
}
.choose h2{
	text-align: center;
	font: normal normal normal 1.15em/1.15em 'fsalbertregular', Arial, Helvetica, sans-serif;
	color: #353432;
	margin-bottom: 2%;
}
.choose select{
	width: 75%;  
	font: normal normal normal 1em/1.3em 'fsalbertregular', Arial, Helvetica, sans-serif;
	color: #4a4a4a;
	padding: 2%;
	border: 0;
	outline: none; 
}
.tabProduct .choose{ background-color: #fabd52; }
.tabProgram .choose{ background-color: #ffeca0; }

/* Expanded views */

#feedBack_section .fc-product{
	background-color: #fabd52;
	padding: 1.5% 2%;	
}
#feedBack_section .fc-program{
	background-color: #ffeca0;
	padding: 1.5% 2%;	
}
#feedBack_section .hide{
	display: none;
}
.fc-product h2, .fc-program h2{
	font: normal normal normal 1.25em/1.3em 'fsalbertregular', Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 1% 0 1.25%;
	margin-bottom: 2%;
	border-bottom: 1px solid #ffffff;
}

ul.formfields{
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 48.5%;
	display: block;
	position: relative; 
} 
.fl{ float: left; }
.fr{ float: right; }
li.info-type{
	width: 100%;
	color: #353432;
	font: normal normal normal 1em/1.25em 'fsalbertregular', Arial, Helvetica, sans-serif;
	margin-bottom: .3em; 
}
li.info-type:after{
	content: '*';
	color: red; 
	font: normal normal normal 1em/1.25em 'fsalbertregular', Arial, Helvetica, sans-serif;
}
li.info-value{
	width: 100%;
	color: #353432;
	font: normal normal normal 1em/1.25em 'fsalbertregular', Arial, Helvetica, sans-serif;
	margin-bottom: .7em;
}
/*li.info-value input[type='text'], textarea{
	width: 100%;
	border: 1px solid #9b999c;
	padding: .4em;
	font: normal normal normal 1em/1.25em 'fsalbertregular', Arial, Helvetica, sans-serif;
}*/
li.info-value input[type='text'].attach{ position: relative; width:72%; }
li.info-value input[type='text'].attach ~ img{ position: absolute; right: 0; width: 93px; max-width: 93px; }
li.info-value input[type='text'].attach ~ input[type='file']{ width: 93px; height:35px; position: absolute; right: 0; border: 1px solid #000; opacity: 0; cursor: pointer; }

a.btn-browse{ 
	position: relative;
	/*z-index: 2;*/
	width: 93px; 
	height: auto;
	display: block;
	float: right;
	font: normal normal normal 1em/1em 'fsalbertregular', Arial, Helvetica, sans-serif;
	padding: 9px 6.5% 9px 2%;
	text-transform:uppercase;
	outline: none;
	border: none;
	color: #ffffff;
	text-decoration: none;
	background:url(../images/request/arrow-r-small.gif) no-repeat 90% center #d30e17;
}

.trackreq2wrap a.request{
	cursor: pointer;
	position: relative;
	z-index: 2;
	width: 210px; 
	height: auto;
	display: block;
	margin: 0 auto; 
	font: normal normal normal .8em/.8em 'fsalbertregular', Arial, Helvetica, sans-serif;
	padding: 15px 20px 15px 0px;
	text-transform:uppercase;
	outline: none;
	border: none;
	color: #ffffff;
	text-decoration: none;
	background:url(../images/request/orange-arrow.gif) no-repeat 90% center #e56607;
} 

a.request.track{
	background:url(../images/request/arrow-r-small.gif) no-repeat 90% center #d30e17;
}

@media screen and (min-width : 280px) and (max-width : 768px) {

.choose{ 
	text-align: center; 
	padding: 3% 4% 5%;
}
.product ~ .choose{ 
	background: #fabd52; 
}
.program ~ .choose{ 
	background: #ffeca0; 
}
.choose h2{
	text-align: center;
	font: normal normal normal 1.15em/1.15em 'fsalbertregular', Arial, Helvetica, sans-serif;
	color: #353432;
	margin-bottom: 2%;
}
.choose select{
	width: 75%;  
	font: normal normal normal 1em/1.3em 'fsalbertregular', Arial, Helvetica, sans-serif;
	color: #4a4a4a;
	padding: 1%;
	border: 0;
	outline: none; 
}
.tabProduct .choose{ background-color: #fabd52; }
.tabProgram .choose{ background-color: #ffeca0; }
	
ul.formfields{ 
	width: 100%; 
} 
li.info-value input[type='text'].attach{ position: relative; width:65%; }

#feedBack_section .relatedTo{
	position: relative;
	width: 100%; 
}
#feedBack_section h1.product{
	/*background:url(../images/request/arrow-D-up.png) no-repeat 97% center #ffffff;*/
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	/**/background-color: #ffffff;
}
#feedBack_section h1.program{
	/*background:url(../images/request/arrow-D.png) no-repeat 97% center #ffffff;*/
	background-color: #ffffff;
	/*border-bottom: 1px solid #dddddd;*/
	background-color: #ffffff;
}

li.info-value input[type='text'].attach ~ input[type='file']{ width: 93px; height:30px; position: absolute; right: 0; border: 1px solid #000; opacity: 0; cursor: pointer; }
a.btn-browse{
	width: 93px;
	font: normal normal normal 1em/1em 'fsalbertregular', Arial, Helvetica, sans-serif;
	padding: 10px 6.5% 10px 2%;
}

}


















