 /*responsive table*/
        table
        {
            width: 100%;
            border-collapse: collapse;
            font-family: fsalbertregular, Arial, Helvetica, sans-serif;
        }
        /* Zebra striping */
        tr:nth-of-type(odd)
        {
            background: #f0f0f0;
        }

        th
        {
            background: #e5e5e5;
            color: #343434;
            font-weight: bold;
            font-size: 17px;
        }

        td, th
        {
            text-align: center;
            padding: 15px 0 15px 0;
            border: 1px solid #ccc;
        }
        /*table end*/
        @media only screen and (max-width: 760px), (max-device-width: 768px)
        {

            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr
            {
                display: block;
            }

                /* Hide table headers (but not display: none;, for accessibility) */
                thead tr
                {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }

            tr
            {
                border: 1px solid #ccc;
            }

            td
            {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #ccc;
                position: relative;
                padding-left: 50%;
                text-align: left;
            }

                td:before
                {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 6px;
                    left: 6px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                }

            /*
					Label the data
					*/
            #div3 td:nth-of-type(1):before
            {
                content: "Request ID";
            }

            #div3 td:nth-of-type(2):before
            {
                content: "Subject";
            }

            #div3 td:nth-of-type(3):before
            {
                content: "Date";
            }

            #div3 td:nth-of-type(4):before
            {
                content: "Status";
            }
        }